h1 {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-size: 60px;
  color: black;
}

img {
  border-radius: 10px;
}

.row {
  background-color: #cedafb;
  border-radius: 12px;
  width: 90%;
}

.col {
  align-items: center;
}
